* {
    font-family: Helvetica;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

th {
    text-align: left !important;
}
.errorlist {
    list-style: none;
    padding: 0;
    color: #a00;
    margin-top: 10px;
    margin-bottom: 0;
}
.nav-active {
    background-color: #eeeeff !important;
    border: 1px solid #55f !important;
    text-decoration: none;
    font-size: 1.3em !important;
    color: #000 !important;
}
.nav > a:hover {
    background: #55f;
    color: white;
}
.nav > a {
    text-decoration: none;
    font-size: 1.3em;
    color: #000;
    padding: 5px;
    border-radius: 10px;
}
.nav {
    background-color: #eee;
    padding: 5px;
}
.errorlist + input {
    border: 1px solid red;
}
.align-center {
    text-align: center;
}
.hide {
    display: none;
}
h1 {
    text-align: center;
}
th {
    vertical-align: bottom;
    padding: 8px 10px;
}
td {
    padding: 4px 6px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 10px auto;
}
.page-actions {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}
.button-link {
    background-color: #1c87c9 !important;
    border: 1px solid #1c87c9 !important;
    color: white !important;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: default;
    border-radius: 4px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.button-link:hover {
    background-color: #5c88cc !important;
    border: 1px dotted blue !important;
}
.button-link:active {
    background-color: #5c58cc !important;
    color: #aaf !important;
}
.messages {
    list-style-type: none;
    margin-block-start: unset;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.messages > li span {
    cursor: default;
}
.messages > li > span:first-child {
    color: grey;
    font-weight: bold;
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    text-align: center;
    margin: 0;
}
.messages > li span:nth-child(2) {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
.messages > li > span:first-child:hover {
    background-color: red;
    color: white;
}
.messages > li {
    margin: 0;
    border-bottom: 1px solid grey;
    padding: 8px;
    color: black;
}
.messages:hover > li {
    font-size: 1.05em;
    padding: 9px;
    transition-duration: 0.5s;
}
.messages > li.success {
    background-color: rgba(200, 255, 200, 1);
}
.messages > li.info {
    background-color: rgba(140, 225, 250, 1);
}
.messages > li.warning {
    background-color: rgba(245, 240, 100, 1);
}
.messages > li.error {
    background-color: rgba(255, 200, 200, 1);
}
.list-style {
    list-style-type: none;
    margin-block-start: unset;
    padding: 0;
}
.list-style > li {
    background: #eeeeff;
    margin: 0 6px;
    border: 1px solid #55f;
    border-radius: 10px;
    color: black;
}
.list-style > li:not(:first-child) {
    margin-top: 6px;
}
.list-style > li:not(:last-child) {
    margin-bottom: 6px;
}
.list-style > li:hover {
    background: #55f;
    border-radius: 10px;
    color: white;
}
.list-style > li:active {
    background: #005;
    color: white;
}
.list-style > li > a {
    display:block;
    padding: 10px;
    font-size: 1.4em;
    text-decoration: none;
    color: inherit;
}
.list-style > li > a:hover {
}
select, input {
    margin-bottom: 5px;
}
caption > h3 {
    margin: 0;
}
caption {
    border: 1px solid black;
    margin-top: 20px;
}
.divider {
    color: #ccc;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
a {
    color: #00f;
}
a:hover {
    color: #fff !important;
    background-color: #00f;
}
body {
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 2px;
    background: lavender;
}
h1 {
    background: #eee;
    padding: 10px;
    margin: 0 auto;
}
@media (min-width: 800px) {
    body {
        width: 800px;
    }
}
.image {
    padding: 5px;
    margin: 2px;
    width: 250px;
    float: right;
}
.image > div {
    width: 99%;
    height: 200px !important;
}
.image img {
    background: url(http://goo.gl/vyAs27) no-repeat;
    width: 100%;
    height: 100%;
}
@media (max-width: 600px) {
    .image {
        width: 100%;
        margin: 20px;
        float: none;
    }
    .image > div {
        width: 90%;
    }
    .image img {
        margin: 0 auto;
        display: block;
        width: 200px;
        height: 99%;
    }
}
.edit-img {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    padding: 0;
    margin: 0;
    background: rgba(230, 230, 230, 0.9);
}
.edit-img > caption {
    color: white;
    cursor: move;
    background-color: #000;
}
.edit-img > caption:hover {
    background-color: #55f;
}
.compact-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    color: #666;
}
.compact-inline:hover {
    background-color: #ddf;
    color: black;
}
.compact-inline:last-of-type {
    border-bottom: 1px solid black;
}
