{% extends "admin/base_site.html" %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <h2>Select session to promote to</h2>
    {{ form }}
    <h2>You selected the following students to be promoted</h2>
    <ul>
        {% for student in students %}
        <li>{{ student }}</li>
        <input type="hidden" name="_selected_action" value="{{ student.pk }}" />
        {% endfor %}
    </ul>
    <input type="hidden" name="action" value="promote_students" />
    <input type="submit" name="apply" value="Promote"/>
</form>
{% endblock %}
