{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html>
  <head>
    <title>{% if title %}{{ title }} |{% endif %} School</title>
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/promise-polyfill.js' %}"></script>
    <script src="{% static 'js/classlist-polyfill.js' %}"></script>
    <script src="{% static 'js/fetch-polyfill.js' %}"></script>
    <script src="{% static 'js/vue.js' %}"></script>
    {{ form.media }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>{% if title %}{{ title }}{% else %}School{% endif %}</h1>
    {% include "messages.html" %}
    <div class="nav align-center">
      <a {% if request.path == '/' %}class="nav-active" {% endif %}
         href="/">
        {% translate 'Home' %}
      </a>
      <a {% if request.path == '/search/' %}class="nav-active" {% endif %}
         href="/search/">
        {% translate 'Search' %}
      </a>
      <a {% if request.path == '/admin/' %}class="nav-active" {% endif %}
         href="/admin/">
        {% translate 'Admin' %}
      </a>
      {% if LANGUAGE_CODE != 'en' %}
      <a href='/language/en/'>English</a>
      {% else %}
      <a href='/language/hi/'>हिन्दी</a>
      {% endif %}
    </div>
    <div class="page-actions">
      {% block actions %}{% endblock %}
      {% if messages %}
      <button class="button-link" onclick="toggle_messages()">
        {% translate 'Toggle Notifications' %}
      </button>
      {% endif %}
    </div>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
