<style>
* {
    font-size: 1em !important;
}
</style>
<table>
  <thead>
    <tr>
      <th>Standard</th>
      <th>Admission Fees</th>
      <th>Monthly Fees</th>
      <th>Examination Fees</th>
    </tr>
  </thead>
  <tbody>
    {% for fee_struct in fee_structs %}
    <tr class='hover-effect'>
      <td>{{ fee_struct.std }}</td>
      <td>₹{{ fee_struct.admission_fees }}</td>
      <td>₹{{ fee_struct.monthly_fees }}</td>
      <td>₹{{ fee_struct.exam_fees }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
window.onload = window.print
</script>
