{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block content %}
<style>
.hover-effect:hover {
    background-color: #fee;
}
</style>
<a href="print/">Print Fee Structure</a>
<table>
  <thead>
    <tr>
      <th>{% translate 'Standard' %}</th>
      <th>{% translate 'Admission Fees' %}</th>
      <th>{% translate 'Monthly Fees' %}</th>
      <th>{% translate 'Examination Fees' %}</th>
      <th>{% translate 'Practical Fees' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for fee_struct in fee_structs %}
    <tr class='hover-effect'>
      <td>{{ fee_struct.std }}</td>
      <td>₹{{ fee_struct.admission_fees }}</td>
      <td>₹{{ fee_struct.monthly_fees }}</td>
      <td>₹{{ fee_struct.exam_fees }}</td>
      <td>
        {% if fee_struct.practical_fees %}
        ₹{{ fee_struct.practical_fees }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
