{% extends "base.html" %}
{% load i18n %}
{% block content %}
<ol class="list-style">
  <li><a href="/search/">{% translate 'Search' %}</a></li>
  <li><a href="/admin/">{% translate 'Admin' %}</a></li>
  <li><a href="/session/list/">{% translate 'Sessions' %}</a></li>
</ol>
{% endblock %}
