{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    <span>&times;</span>
    <span>{{ message }}</span>
    <span>
      (<span>30s</span>)
    </span>
  </li>
  {% endfor %}
</ul>
<script>
  var shown = 0
  var notification_on = true;
  var on_msg = false;
  (function() {
      var parent_el = document.querySelector("ul.messages")
      var elements = document.querySelectorAll("ul.messages>li")
      parent_el.addEventListener("mouseenter", function () {on_msg = true})
      parent_el.addEventListener("mouseleave", function () {on_msg = false})
      shown = elements.length
      for (var i = 0; i < elements.length; i++) {
          var el = elements[i]
          var spans = el.getElementsByTagName("span")
          var times_btn = spans[0]
          var time_label = el.querySelector("span:nth-child(3) > span")
          time_label.innerHTML = (i * 8 + 8) + "s"
          times_btn.addEventListener("click", function (event) {
              event.target.parentElement.style.display = "none"
              shown--;
              if (shown === 0) {
                  event.target.parentElement.parentElement.style.display = "none"
              }
          })
          setTimeout(function (el) {
              if (!on_msg) {
                  el.style.display = "none"
                  shown--;
              }
              el.querySelector("span:nth-child(3)").remove()
              if (shown === 0) {
                  el.parentElement.style.display = "none"
              }
          }, (i + 1) * 8000, el)
      }
  })()
  function toggle_messages() {
      var parent_el = document.querySelector("ul.messages")
      var elements = document.querySelectorAll("ul.messages>li")
      notification_on = parent_el.style.display !== "none"
      for (var i = 0; i < elements.length; i++) {
          if (notification_on === false) {
              elements[i].style.display = "block"
          } else {
              elements[i].style.display = "none"
          }
      }
      if (notification_on === false) {
          parent_el.style.display = "block"
          shown = elements.length
      } else {
          parent_el.style.display = "none"
          shown = 0
      }
      notification_on = !notification_on
  }
</script>
{% endif %}
