{% extends 'base.html' %}

{% load std_sort %}
{% load i18n %}

{% block content %}
<style>
.key {
    font-size: 0.95em;
    color: #555;
}
.value {
    padding-left: 3px;
    font-size: 1.3em;
}
.detail {
    margin: 4px;
    padding-left: 5px;
    margin-bottom: 7px;
}
@media only screen and (min-width: 500px) {
    .detail {
        margin-left: 10px;
    }
}
.inline {
    display: inline-block;
    width: 200px;
}
</style>
<div>
  <div>
    <div class="detail inline">
      <div class="key">{% translate "Father's Aadhaar Number" %}</div>
      <div class="value">{{ parent.father_aadhaar }}</div>
    </div>
    <div class="detail inline">
      <div class="key">{% translate "Mother's Aadhaar Number" %}</div>
      <div class="value">{{ parent.mother_aadhaar }}</div>
    </div>
  </div>
  <div>
    <div class="detail inline">
      <div class="key">{% translate "Father's Name" %}</div>
      <div class="value">{{ parent.father_name }}</div>
    </div>
    <div class="detail inline">
      <div class="key">{% translate "Mother's Name" %}</div>
      <div class="value">{{ parent.mother_name }}</div>
    </div>
  </div>
  <a class="button-link" href="/parent/{{ parent.id }}/student/new/">
    {% translate 'New student' %}
  </a>
</div>

<h3>
  Transactions
  {% if not parent.all_paid %}
    <span class="divider">|</span>
    <a class="button-link" href="/parent/{{ parent.id }}/transaction/selectsession/?next=/parent/{{ parent.id }}/">
      {% translate 'Pay' %}
    </a>
  {% endif %}
</h3>

<div style="background-color:#eef;margin:0 10px">
  {% if parent.parenttransaction_set.all %}
    {% for trn in parent.parenttransaction_set.all|dictsortreversed:"created_at" %}
      <div class="compact-inline">
        <div class="detail" style="width: 90px">
          <div class="key">{% translate 'Received' %}</div>
          <div class="value">₹{{ trn.received }}</div>
        </div>
        <div class="detail" style="width: 90px">
          <div class="key">{% translate 'Returned' %}</div>
          <div class="value">₹{{ trn.returned }}</div>
        </div>
        <div class="detail" style="width: 200px">
          <div class="key">{% translate 'Paid for' %}</div>
          <div class="value">{{ trn.paid_for_pretty }}</div>
        </div>
        <div class="detail" style="width: 240px">
          <div class="key">{% translate 'Paid on' %}</div>
          <div class="value">{{ trn.created_at }}</div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    {% translate 'No transactions made so far' %}
  {% endif %}
</div>

<div style="margin-top: 50px">
  {% for session, students in session_students.items %}
    <h3>{{ session }}</h3>
    <div style="background-color:#eef;margin:0 10px">
      {% for student in students|student_sort_by_std %}
      <div class="compact-inline">
        <div class="detail" style="width: 220px">
          <div class="key">{% translate 'Name' %}</div>
          <div class="value">
            <a href="/student/profile/{{ student.profile.id }}/">
              {{ student.profile.name }}
            </a>
          </div>
        </div>
        <div class="detail" style="width: 60px">
          <div class="key">{% translate 'Standard' %}</div>
          <div class="value">{{ student.std }}</div>
        </div>
        <div class="detail" style="width: 120px">
          <div class="key">{% translate 'Scholar Number' %}</div>
          <div class="value">
            <a href="/student/{{ student.id }}/">{{ student.scholar_number }}</a>
          </div>
        </div>
        <div class="detail" style="width: 120px">
          <div class="key">{% translate 'Status' %}</div>
          <div class="value">{{ student.status }}</div>
        </div>
        <div class="detail" style="width: 140px; text-align: right; margin-left: auto; margin-right: 5px">
          {% if not student.paid %}
          <a class="button-link" href="/student/{{ student.id }}/transaction/new/?next=/parent/{{ parent.id }}/">{% translate 'Pay' %}</a>
          {% else %}
          <span style="color: green">{% translate 'All paid' %}</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
