{% extends "base.html" %}

{% load i18n %}

{% block content %}
  {% if sessions %}
    <ol class="list-style">
      {% for session in sessions %}
        <li>
          <a href="/parent/{{ parent.id }}/{{ session.string }}/transaction/new/{% if next %}?next={{ next | urlencode }}{% endif %}">{{ session }}</a>
        </li>
      {% endfor %}
    </ol>
    {% if sessions|length == 1 %}
      <script>
        window.location = "/parent/{{ parent.id }}/{{ sessions.0.string }}/transaction/new/{% if next %}?next={{ next | urlencode }}{% endif %}"
      </script>
    {% endif %}
  {% else %}
    <div style="margin: 0 auto; padding: 20px; font-size: 2em; text-align: center">
      {% translate 'No sessions found' %}
    </div>
  {% endif %}
{% endblock %}

<!-- Local Variables: -->
<!-- mode: jinja2 -->
<!-- End: -->
