{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<style>
.status-CURRENT {
    background-color: #fafafa;
}
.status-PASS {
    background-color: #aaffaa;
    color: #777;
}
.status-FAIL {
    background-color: #ffffaa;
    color: #777;
}
button {
    margin-right: 10px;
}
.std-session {
    font-size: 0.9em;
    font-weight: normal;
}
.scholar-number {
    font-size: 0.86em;
    font-weight: normal;
}
.parent-container {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 7px;
    background: rgba(245, 245, 245);
    font-size: 1.1em;
    transition: all 0.5s;
    border-radius: 5px;
}
.parent-container:hover {
    border: 1px solid #ccf;
    background: rgba(150, 200, 200, 0.3);
}
.parent-details {
    margin: 3px 7px;
    cursor: pointer;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.parent-details:hover {
    color: #443;
}
.student-container {
    padding: 10px;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    overflow: auto;
}
.student-container:last-child {
    border-bottom: 0;
}
.students {
    margin: 7px;
    margin-left: 11px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.list-nums {
    font-size: 0.85em;
    color: #777;
    padding-right: 8px;
}
</style>

<div id="main">
  <div align="right" style="padding: 5px">
    <label for="search_box">{% translate 'Search' %}: </label>
    <input id="search_box" type="text" />
  </div>

  <div>
    {% if parents %}
    {% for parent in parents %}
    <div class="parent-container">
      <div class="parent-details">
        <span>
          <span class="parent-name">
            {{ parent.father_name }} & {{ parent.mother_name }}
          </span>
          <a href="/parent/{{ parent.id }}/">#</a>
        </span>
        <span style="float: right">
          {% if parent.all_paid %}
          <span style="color: green">{% translate 'All paid' %}</span>
          {% else %}
          <a class="button-link" href="/parent/{{ parent.id }}/transaction/selectsession/?next={% if next %}{{ next | urlencode }}{% else %}{{ request.get_full_path | urlencode }}{% endif %}">
            {% translate 'Pay' %}
          </a>
          {% endif %}
        </span>
      </div>
      <div class="students" style="display:none">
        {% for student_profiles in parent.get_children %}
        {% for student in student_profiles.student_set.all %}
        <div class="status-{{ student.status }} student-container">
          <span class="unselectable list-nums">
            {{ forloop.parentloop.counter }}.{{ forloop.counter }}
          </span>
          <span class="student-details">
            <a href="/student/{{ student.id }}/">{{ student.profile.name }}</a>
            <span class="divider">|</span>
            <span style="font-size: 0.9em; font-weight: normal">
              {{ student.profile.age }}
              {{ student.profile.gender.0 }}
            </span>
            <span class="divider">|</span>
            <a class="spl" href="/session/{{ student.session.string }}/{{ student.std }}/student/list/">{{ student.std }}</a>
            <span class="divider">|</span>
            <a class="spl" href="/session/{{ student.session.string }}/">[{{ student.session }}]</a>
            <span class="divider">|</span>
            <span>{{ student.scholar_number }}</span>
          </span>
          {% if student.all_paid %}
          <span style="float:right;color:green">{% translate 'All paid' %}</span>
          {% endif %}
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% else %}
    {% translate "The search term doesn't match any records" %}
    {% endif %}
  </div>
</div>

{% if parents %}
<script src="{% static 'js/parent_search.js' %}"></script>
{% endif %}

<script>

(function () {
    var els = document.querySelectorAll("div.parent-details")
    els.forEach(function (el) {
        el.addEventListener("click", function (event) {
            var child = el.nextElementSibling
            child.style.display = child.style.display !== "none" ? "none" : "revert"
        })
    })
}());

</script>

{% endblock %}

<!-- Local Variables: -->
<!-- mode: jinja2 -->
<!-- End: -->
