{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h3 class="align-center">
  <!-- TODO: Translation needed here too but a strategy is required -->
  Student {{ form.student.profile.name }} has paid successfully for the
  following:
</h3>
<ol class="align-center">
  {% for item in form.transaction.paid_for.split %}
  <li>{{ item }}</li>
  {% endfor %}
</ol>
<div class="align-center">
  <!-- TODO: Translation needed here too but a strategy is required -->
  Return Rs.{{ form.transaction.returned }} back to {{ form.student.profile.name }}.
</div>
{% endblock %}
