{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<style>
caption:hover {
    background-color: #eef;
}
input[type="number"] {
    max-width: 100px;
    width: 80%;
    border: 1px solid black;
    -moz-appearance: textfield;
    margin: 0 auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>

<h2 align="center">
  <!-- TODO: Translation needed here too but a strategy is required -->
  Recieving from {{ form.initial.parents.father_name }} &
  {{ form.initial.parents.mother_name }} for session {{ session }}
</h2>
<form method="POST">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>
  {% for student_form in form.student_forms %}
  <table>
    <caption>
      <h3>
        {{ student_form.initial.student.profile.name }} -
        {{ student_form.initial.student.std }}
      </h3>
    </caption>
    <tbody>
      {{ student_form }}
    </tbody>
  </table>
  {% endfor %}
  <div style="text-align: center">
    <div style="padding: 10px" class="returned_amt"></div>
    <input type="submit" value="{% translate 'Pay' %}" class="button-link" />
  </div>
</form>
{% endblock %}
