{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<form method="POST" autocomplete="off" class="align-center">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div>
    <textarea style="font-size: 1.2em" name="remarks" rows="5" cols="35"></textarea>
  </div>
  {% if form.fields.student.initial %}
  <input type="hidden" name="student" value="{{ form.fields.student.initial.id }}" />
  {% else %}
  <div id="filter">
    <select name="student">
      {% for student in form.fields.student.queryset %}
      <option value="{{ student.id }}">{{ student }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}
  <button class="button-link" type="submit">{% translate 'Promote' %}</button>
</form>
<script>
const FilterSelections = {
    delimiters: ['[[', ']]'],
    template: `
Search: <input type="text" v-model="filter_text" />
<div>
  <select name="student">
    <option v-for="student in filtered_students" :value="student.id">
      [[ student.details ]]
    </option>
  </select>
</div>
`,
    data () {
        return {
            filter_text: "",
            students: [
                {% for student in form.fields.student.queryset %}
                {
                    id: {{ student.id }},
                    details: '{{ student|safe }}'
                },
                {% endfor %}
            ]
        }
    },
    computed: {
        filtered_students () {
            return this.filter_text.trim() === "" ? this.students :
                this.students.filter(
                    x => this.filter_text
                        .toLowerCase()
                        .trim()
                        .split()
                        .some(word => x.details.toLowerCase().includes(word)))
        }
    }
}
Vue.createApp(FilterSelections).mount("#filter")
</script>
{% endblock %}
