{% extends "./base.html" %}
{% load i18n %}
{% block content %}
<style>
.error {
    color: red;
    padding-bottom: 15px;
}
.center {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body {
    overflow-y: hidden;
}
.content {
    position: relative;
    height: 100vh;
    overflow: auto;
}
.search-box {
    height: 20px;
    border: 2px dotted blue;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
}
input.search-box:focus {
    border: 2px solid blue;
}
.search-btn {
    height: 40px !important;
    width: 110px !important;
    border-radius: 7px !important;
    font-size: 1.3em;
}
.search-btn:active {
    background: #aaf;
    color: #555;
}
</style>
<div class="center">
  <form method="GET" action="/search/">
    <div class="align-center" style="margin: 10px">
      <input
        class="search-box"
        autofocus="autofocus"
        type="text"
        id="student"
        name="q"
        value="{{value}}"
        pattern="[A-Za-z0-9 ]+"
        placeholder="{% translate 'Part of name' %}"
        required="required" />
    </div>
    {% if error %}<div class="error">{{ error }}</div>{% endif %}
    <div class="align-center">
      <div style="display: inline-block">
        <input id="father_s" type="radio" name="who" value="father">
        <label for="father_s">{% translate 'Father' %}</label>
      </div>
      <div style="display: inline-block">
        <input id="mother_s" type="radio" name="who" value="mother">
        <label for="mother_s">{% translate 'Mother' %}</label>
      </div>
      <div style="display: inline-block">
        <input id="student_s" type="radio" name="who" value="student" checked>
        <label for="student_s">{% translate 'Student' %}</label>
      </div>
    </div>
    <div style="text-align: center; margin: 23px">
      <input class="button-link" type="submit" value="{% translate 'Search' %}" />
    </div>
  </form>
</div>
{% endblock %}
