{% extends "base.html" %}
{% load i18n %}
{% block content %}
<a class="align-center" style="display: block" href="/session/{{ session.string }}/fees/">
  {% translate 'Fee Structure' %}
</a>
<style>
.key {
    font-size: 0.95em;
    color: #555;
}
.value {
    padding-left: 3px;
    font-size: 1.3em;
}
.detail {
    margin: 4px;
    padding-left: 5px;
    margin-bottom: 7px;
}
@media only screen and (min-width: 500px) {
    .detail {
        margin-left: 10px;
    }
}
.compact-inline-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
}
@media only screen and (max-width: 410px) {
    .compact-inline-button {
        width: 100% !important;
    }
}
</style>
{% if classes %}
<div style="background-color:#eef;margin:20px 10px">
  {% for class in classes %}
  <div class="compact-inline">
    <div class="detail" style="width: 60px">
      <strong>{{ class }}</strong>
    </div>
    <div class="compact-inline-button detail" style="width: 280px; border: 0">
      {% if class in std_with_students %}
      <a class="button-link"
       href="/session/{{ session.string }}/{{ class }}/student/list/">
      {% translate 'List students' %}
      </a>
      {% else %}
      <span style="margin: 0 5px">{% translate 'No students' %}</span>
      {% endif %}
      <a class="button-link"
       href="/session/{{ session.string }}/{{ class }}/student/new/">
      {% translate 'New Student' %}
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div style="margin: 0 auto; padding: 20px; font-size: 2em; text-align: center">
  {% translate 'No sessions created' %}
</div>
{% endif %}
{% if std_with_students %}
<a class="button-link" style="display:block;width:150px;margin:0 auto"
   href="/session/{{ session.string }}/student/list/">
  {% translate 'List all students in this session' %}
</a>
{% endif %}
{% endblock %}
