{% extends "base.html" %}

{% load i18n %}

{% if request.user.is_authenticated %}
{% block actions %}
<a class="button-link" href="/session/new/">{% translate 'New Session' %}</a>
{% endblock %}
{% endif %}

{% block content %}
{% if sessions %}
<ol class="list-style">
  {% for session in sessions %}
  <li>
    <a href="/session/{{ session.string }}/">{{ session }}</a>
  </li>
  {% endfor %}
</ol>
{% else %}
<div style="margin: 0 auto; padding: 20px; font-size: 2em; text-align: center">
  {% translate 'No sessions found' %}
</div>
{% endif %}
{% endblock %}
