{% extends "base.html" %}
{% load i18n %}
{% block content %}
<style>
caption {
    margin-top: 20px;
    background: wheat;
    border: none;
}
table {
    background: aliceblue;
}
th, td {
    vertical-align: middle;
}
td {
    padding: 5px;
    text-align: center;
}
th {
    padding: 4px 10px;
    text-align: right !important;
}
table, td, th {
    border: none;
}
input[type="number"] {
    max-width: 100px;
    width: 80%;
    border: 1px solid black;
    -moz-appearance: textfield;
    margin: 0 auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 500px) {
    table {
        max-width: 100%;
        width: 100%;
    }
}
</style>

<form method="POST">
  {% csrf_token %}
  <table>
    <caption><h3>{% translate 'Session' %}</h3></caption>
    {{ session_form }}
  </table>
  <table>
    <caption><h3>{% translate 'Fees' %}</h3></caption>
    <tr style="border-bottom: 1px solid black">
      <th>{% translate 'Class' %}</th>
      <th>{% translate 'Admission' %}</th>
      <th>{% translate 'Monthly' %}</th>
      <th>{% translate 'Exam' %}</th>
    </tr>
    {% for fee_form in fee_forms %}
    <tr>
      <th>
        {{ fee_form.std.value }}
      </th>
      <td>
        {% for error in fee_form.admission_fees.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        <input
          name="{{ fee_form.std.value }}.adm"
          {% if fee_form.admission_fees.value %}
          value="{{ fee_form.admission_fees.value }}"
          {% endif %}
          type="number"
          min="0"
          required=""
          />
      </td>
      <td>
        {% for error in fee_form.monthly_fees.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        <input
          name="{{ fee_form.std.value }}.mth"
          {% if fee_form.monthly_fees.value %}
          value="{{ fee_form.monthly_fees.value }}"
          {% endif %}
          type="number"
          min="0"
          required=""
          />
      </td>
      <td>
        {% for error in fee_form.exam_fees.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        <input
          name="{{ fee_form.std.value }}.exm"
          {% if fee_form.exam_fees.value %}
          value="{{ fee_form.exam_fees.value }}"
          {% endif %}
          type="number"
          min="0"
          required=""
          />
      </td>
    </tr>
    {% if fee_form.std.value == "X" or fee_form.std.value == "XII" %}
    <tr style="margin-bottom:5px">
      <th colspan="2">{% translate 'Practical' %}</th>
      <td colspan="2">
        {% for error in fee_form.exam_fees.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        <input
          name="{{ fee_form.std.value }}.prl"
          {% if fee_form.practical_fees.value %}
          value="{{ fee_form.practical_fees.value }}"
          {% endif %}
          type="number"
          min="0"
          required=""
          />
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <div style="text-align: center; margin-bottom: 50px">
  <input class="button-link" type="submit" value="Submit" />
</form>
<script>
"use strict";
function resize_tables(event) {
    // TODO: When we resize back (first expand then try collapsing) the table
    //       width doesn't change.
    var tables = document.getElementsByTagName("table")
    var max_length = Math.max(tables[0].clientWidth, tables[1].clientWidth) + "px";
    tables[0].style.width = max_length;
    tables[1].style.width = max_length;
}
window.onresize = resize_tables;
resize_tables();
</script>
{% endblock %}
