{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<style>
.status-CURRENT {
    background-color: #fafafa;
}
.status-PASS {
    background-color: #aaffaa;
    color: #777;
}
.status-FAIL {
    background-color: #ffffaa;
    color: #777;
}
button {
    margin-right: 10px;
}
.student-details span {
    font-size: 1.1em;
}
.student-container {
    margin: 10px;
    border: 1px solid #ddd;
    transition: all 0.5s;
    padding: 7px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.6) !important;
}
.student-container a {
    color: rgba(0, 0, 0, 0.6);
}
.student-container:hover a {
    color: #00f;
}
.student-container:hover span {
    color: #111;
}
.student-container:hover .divider {
    color: #333;
}
.student-container:hover {
    border: 1px solid #ccf;
    background: rgba(150, 200, 200, 0.3);
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(250, 250, 250, 0.8);
    padding: 10px;
}
.name {
    font-size: 1.16em;
    font-weight: bold;
    text-decoration: none;
}
</style>

<div id="main">
  <div align="right" class="sticky">
    <label for="search_box">{% translate 'Search' %}:</label>
    <input id="search_box" type="text" />
  </div>

  <div>
    {% if students %}
    {% for student in students %}
    <div class="status-{{ student.status }} student-container">
      <div class="student-details">
        <a class="name" href="/student/{{ student.id }}/">
          {{ student.profile.name }}
        </a>
        <span class="divider">|</span>
        <span style="font-size: 0.9em; font-weight: normal">
          {{ student.profile.age }}
          {{ student.profile.gender.0 }}
        </span>
        <span class="divider">|</span>
        <a href="/session/{{ student.session.string }}/{{ student.std }}/student/list/">{{ student.std }}</a>
        <span class="divider">|</span>
        <a href="/session/{{ student.session.string }}/">{{ student.session }}</a>
        <span class="divider">|</span>
        <span>{{ student.scholar_number }}</span>
      </div>
      <div align="right">
        {% if student.all_paid %}
        <span style="color: green">{% translate 'All paid' %}</span>
        {% else %}
        <a class="button-link"
          href="/student/{{ student.id }}/transaction/new/{% if next %}?next={{ next | urlencode }}{% endif %}">{% translate 'Pay' %}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% else %}
    {% translate "The search term doesn't match any records" %}
    {% endif %}
  </div>
</div>

{% if students %}
<script src="{% static 'js/student_search.js' %}"></script>
{% endif %}

{% endblock %}
