{% extends 'base.html' %}

{% load std_sort %}
{% load i18n %}

{% block content %}
<style>
.key {
    font-size: 0.95em;
    color: #555;
}
.value {
    padding-left: 3px;
    font-size: 1.3em;
}
.detail {
    margin: 4px;
    padding-left: 5px;
    margin-bottom: 7px;
}
@media only screen and (min-width: 500px) {
    .detail {
        margin-left: 10px;
    }
}
.inline {
    display: inline-block;
    min-width: 150px;
    max-width: 300px;
}
</style>
<div>
  {% if student.profile.img %}
    <div class="image">
      <img src="{{ student.profile.img.url }}" />
    </div>
  {% endif %}
  <div style="float:right;padding-right:10px">
    <a href="/promote/{{ student.id }}/?next=/student/{{ student.id }}/">Promote</a>
  </div>
  <div class="detail">
    <div class="key">{% translate 'Aadhaar Number' %}</div>
    <div class="value">{{ student.profile.aadhaar }}</div>
  </div>
  <div class="detail">
    <div class="key">{% translate 'Name' %}</div>
    <div class="value">
      <a href="/student/profile/{{ student.profile.id }}/">
        {{ student.profile.name }}
      </a>
    </div>
  </div>
  <div class="detail">
    <div class="key">{% translate 'Parents' %}</div>
    <div class="value">
      <a href="/parent/{{ student.profile.parents.id }}/">
        {{ student.profile.parents }}
      </a>
    </div>
  </div>
  <div>
    <div class="detail inline">
      <div class="key">{% translate 'Gender' %}</div>
      <div class="value">{{ student.profile.gender }}</div>
    </div>
    <div class="detail inline">
      <div class="key">{% translate 'Birth Date' %}</div>
      <div class="value">{{ student.profile.date_of_birth }}</div>
    </div>
  </div>
  <div>
    <div class="detail inline">
      <div class="key">{% translate 'Category' %}</div>
      <div class="value">{{ student.profile.category }}</div>
    </div>
    <div class="detail inline">
      <div class="key">{% translate 'Phone Number' %}</div>
      <div class="value">{{ student.profile.phone }}</div>
    </div>
  </div>
  <div class="detail">
    <div class="key">{% translate 'Address' %}</div>
    <div class="value">
      {% if student.profile.address %}{{ student.profile.address }}{% else %}NA{% endif %}
    </div>
  </div>
  <div class="detail">
    <div class="key">{% translate 'School' %}</div>
    <div class="value">{{ student.school }}</div>
  </div>
  <div>
    <div class="detail inline">
      <div class="key">{% translate 'Session' %}</div>
      <div class="value">{{ student.session }}</div>
    </div>
    <div class="detail inline">
      <div class="key">{% translate 'Standard' %}</div>
      <div class="value">{{ student.std }}</div>
    </div>
  </div>
  <div>
    <div class="detail inline">
      <div class="key">{% translate 'Scholar Number' %}</div>
      <div class="value">{{ student.scholar_number }}</div>
    </div>
    <div class="detail inline">
      <div class="key">{% translate 'Status' %}</div>
      <div class="value">{{ student.status }}</div>
    </div>
  </div>
</div>
<h3>
  {% translate 'Transactions' %}
  {% if not student.all_paid %}
    <span class="divider">|</span>
    <a class="button-link" href="/student/{{ student.id }}/transaction/new/?next=/student/{{ student.id }}/">
      {% translate 'Pay' %}
    </a>
  {% endif %}
</h3>
<div style="background-color:#eef;margin:0 10px">
  {% if student.studenttransaction_set.all %}
  {% for trn in student.studenttransaction_set.all|dictsortreversed:"created_at" %}
  <div class="compact-inline">
    <div class="detail" style="width: 90px">
      <div class="key">{% translate 'Received' %}</div>
      <div class="value">₹{{ trn.received }}</div>
    </div>
    <div class="detail" style="width: 90px">
      <div class="key">{% translate 'Returned' %}</div>
      <div class="value">₹{{ trn.returned }}</div>
    </div>
    <div class="detail" style="width: 200px">
      <div class="key">{% translate 'Paid for' %}</div>
      <div class="value">{{ trn.paid_for_pretty }}</div>
    </div>
    <div class="detail" style="width: 240px">
      <div class="key">{% translate 'Paid on' %}</div>
      <div class="value">{{ trn.created_at }}</div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  {% translate 'No transactions made so far' %}
  {% endif %}
</div>

{% endblock %}

<!-- Local Variables: -->
<!-- mode: jinja2 -->
<!-- End: -->
