{% extends 'base.html' %}

{% load std_sort %}
{% load static %}
{% load i18n %}

{% block actions %}
<button id="edit-image" class="button-link" onclick="toggle_edit_image(this)">
  Edit Image
</button>
{% endblock %}

{% block content %}
<style>
.key {
    font-size: 0.95em;
    color: #555;
}
.value {
    padding-left: 3px;
    font-size: 1.3em;
}
.detail {
    margin: 4px;
    padding-left: 5px;
    margin-bottom: 7px;
}
@media only screen and (min-width: 500px) {
    .detail {
        margin-left: 10px;
    }
}
.inline {
    display: inline-block;
    min-width: 150px;
    max-width: 300px;
}
</style>
<div>
  <div class="image">
    <div>
      {% if student.img %}
        <img src="{{ student.img.url }}" />
      {% else %}
        <img />
      {% endif %}
    </div>
    <form method="POST" action="/student/profile/{{ student.id }}/image/update/">
      <input type="file" name="image" />
      <input type="submit" value="{% translate 'Submit' %}" />
    </form>
  </div>
  <div class="detail">
    <div class="key">{% translate 'Aadhaar Number' %}</div>
    <div class="value">{{ student.aadhaar }}</div>
  </div>
  <div class="detail">
    <div class="key">{% translate 'Name' %}</div>
    <div class="value">{{ student.name }}</div>
  </div>
  <div class="detail">
    <div class="key">{% translate 'Parents' %}</div>
    <div class="value">
      <a href="/parent/{{ student.parents.id }}/">{{ student.parents }}</a>
    </div>
  </div>
  <div>
    <div class="detail inline">
      <div class="key">{% translate 'Gender' %}</div>
      <div class="value">{{ student.gender }}</div>
    </div>
    <div class="detail inline">
      <div class="key">{% translate 'Birth Date' %}</div>
      <div class="value">{{ student.date_of_birth }}</div>
    </div>
  </div>
  <div>
    <div class="detail inline">
      <div class="key">{% translate 'Category' %}</div>
      <div class="value">{{ student.category }}</div>
    </div>
    <div class="detail inline">
      <div class="key">{% translate 'Phone Number' %}</div>
      <div class="value">{{ student.phone }}</div>
    </div>
  </div>
  <div class="detail">
    <div class="key">{% translate 'Address' %}</div>
    <div class="value">
      {% if student.address %}{{ student.address }}{% else %}NA{% endif %}
    </div>
  </div>
</div>
<div style="background-color:#eef;padding:5px">
  {% for s in students|student_sort_by_std %}
  <div class="compact-inline">
    <div class="detail" style="width: 120px">
      <div class="key">{% translate 'Session' %}</div>
      <div class="value">{{ s.session }}</div>
    </div>
    <div class="detail" style="width: 120px">
      <div class="key">{% translate 'Standard' %}</div>
      <div class="value">{{ s.std }}</div>
    </div>
    <div class="detail" style="width: 120px">
      <div class="key">{% translate 'Scholar Number' %}</div>
      <div class="value">
        <a href="/student/{{ s.id }}/">{{ s.scholar_number }}</a>
      </div>
    </div>
    <div class="detail" style="width: 120px">
      <div class="key">{% translate 'Status' %}</div>
      <div class="value">{{ s.status }}</div>
    </div>
    <div class="detail" style="width: 120px; text-align: right; margin-left: auto; margin-right: 5px">
      {% if not s.paid %}
        <a class="button-link" href="/student/{{ s.id }}/transaction/new/?next=/student/profile/{{ student.id }}/">
          {% translate 'Pay' %}
        </a>
      {% else %}
      <span style="color: green">{% translate 'All paid' %}</span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>


<script>

var toggle_button_edit_image = document.getElementById("edit-image");
var toggle_edit_image = function (target) {};
var img_div = document.getElementsByClassName("image")[0].getElementsByTagName("div")[0];
var file_input = document.getElementsByName('image')[0];
var blob = null;

document.getElementsByTagName("form")[0].addEventListener(
    "submit",
    function (event) {
        event.preventDefault();
        console.log(file_input.value);
        if (!file_input.value && file_input.style.visibility) {
            console.log("Done");
            file_input.style.visibility = "";
            return;
        }
        if (!blob) {
            alert("Update image first");
            return;
        }
        var fd = new FormData();
        var xhr = new XMLHttpRequest();
        fd.append("image", blob);
        fd.append("csrfmiddlewaretoken", getCookie('csrftoken'));
        xhr.open('POST', '/student/profile/{{ student.id }}/image/update/?geturl=1', true);
        xhr.onload = function (res) {
            var text = res.target.response
            console.log("Success", text);
            if (text.startsWith("Error: ")) {
                alert(text);
            } else {
                img_div.innerHTML = '<img src="' + text + '?' + new Date().getTime() + '" />';
                img_div.style.overflow = "visible";
            }
        }
        xhr.onerror = function (res) {
            console.log("Error", res);
        }
        xhr.send(fd);
    }
);

(function () {
    var script = document.createElement('script');
    if (file_input.value) {
        file_input.style.visibility = "";
        toggle_button_edit_image.style.visibility = "";
    } else {
        file_input.style.visibility = "hidden";
        toggle_button_edit_image.style.visibility = "hidden";
    }
    setTimeout(function () {
        var els = img_div.children;
        if (els.length > 1) {
            els[0].remove();
            img_div.style.overflow = "scroll";
        }
    }, 330);
    script.onload = function () {
        var table = editImage(
            img_div,
            file_input,
            function (blob_) { blob = blob_; }
        );
        file_input.addEventListener('change', function (e) {
            var el = img_div.getElementsByTagName("img")[0];
            img_div.style.overflow = "scroll";
            if (!el.id) {
                el.remove();
                toggle_button_edit_image.style.visibility = "";
            }
        });
        toggle_edit_image = function (target) {
            table.style.display = table.style.display === "none" ?
                "revert" : "none";
            target.textContent = table.style.display === "none" ?
                "Edit Image" : "Close Edit Image";
        };
        document.addEventListener('keydown', function(e) {
            if (e.key == "Escape") {
                table.style.display = "none";
                if (toggle_button_edit_image) {
                    toggle_button_edit_image.textContent = "Edit Image";
                }
            }
        });
    }
    script.src = "{% static 'js/caman.full.js' %}";
    document.head.appendChild(script);
})();

</script>
{% endblock %}

{# Local Variables: #}
{# mode: jinja2 #}
{# End: #}
