{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <table>
    <caption>
      <h3>
        Recieving from {{ form.initial.student.profile.name }} studying in standard
        {{ form.initial.student.std }}
      </h3>
    </caption>
    <tbody>
      {{ form }}
    </tbody>
  </table>
  <div align="center">
    <input type="submit" class="button-link" value="{% translate 'Pay' %}" />
  </div>
</form>
<footer>
  <table>
    <tr>
      <td>{% translate 'Admission Fee' %}:</td>
      <td>₹{{ form.initial.student.fee_struct.admission_fees }}</td>
    </tr>
    <tr>
      <td>{% translate 'Monthly Fee' %}:</td>
      <td>₹{{ form.initial.student.fee_struct.monthly_fees }}</td>
    </tr>
    <tr>
      <td>{% translate 'Exam Fee' %}:</td>
      <td>₹{{ form.initial.student.fee_struct.exam_fees }}</td>
    </tr>
  </table>
</footer>
{% endblock %}
