{% extends "base.html" %}
{% load i18n %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <div align="center">
    <input name="submit_value" type="submit" class="button-link"
           value="{% translate 'Submit and Show Profile' %}" />
    <input name="submit_value" type="submit" class="button-link"
           value="{% translate 'Submit and Add Another' %}" />
    <input name="submit_value" type="submit" class="button-link"
           value="{% translate 'Submit and Switch' %}" />
  </div>
</form>
{% endblock %}
